<h1>最新发布</h1>
<div>
	<div class="box-top1"><span></span></div>
	<div class="box1">
		
		<ul>
			<li>DDTCMS v0.3.0.0.20111104, <a href="http://code.google.com/p/ddtcms/downloads/list" title="Google download">马上下载!</a></li>
			<li><strong>发布日期</strong>:2011-11-13, <strong>文件大小</strong>:3M</li>
			<li><strong>系统要求</strong>: Linux/Windows+Apache2.0/Nginx0.86<br>+Mysql5.0+Python2.5+Django1.3.1</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="box-bot"><span></span></div>
</div>
<div class="clear"></div>

