#ftw{background:#333;background:-moz-linear-gradient(top,#111,#4E4E4E);background:-webkit-gradient(linear,0 0,0 100%,from(#111),to(#4E4E4E));height:340px;}
#ftw .contact{background:#44ABAF;border-bottom:4px #388 solid;}
#ftw .contact p{width:960px;margin:0 auto;height:48px;line-height:48px;text-align:right;font-weight:700;}
#ftw .contact a{color:#fff;}
#ft{width:960px;margin:0 auto;}
#ft .nav{background:#222;}
#ft .nav,
#ft .nav a,
#ft .copyright{color:#666;}
#ft .nav li.col{float:left;display:inline;width:110px;height:140px;padding:10px 0 0 50px;margin:10px 0;border-right:1px dashed #333;}
#ft .nav li.logo{border:none;}
#ft .nav li.logo a{display:block;width:200px;height:43px;background:url(../images/background.png?v=20110506) 0 -220px;overflow:hidden;text-indent:-9999px;margin:40px 0 0 10px;}
#ft .nav h3{font-size:14px;color:#666;}
#ft .sub-list{margin-top:5px;font-size:12px;}
#ft .sub-list li{list-style-position:inside;list-style-type:disc;line-height:20px;}
#ft .copyright p{color:#6f6f6f;padding:3px 0;text-align:center;font-size:12px;margin-top:7px;}
#ft .cert{width:468px;margin:10px auto 30px;}
#ft .cert li{float:left;margin:0 5px;_display:inline;}
#ft .cert li a{display:block;outline:none;height:40px;margin:0;text-indent:-9999px;background:url(../images/background.png?v=20110506) no-repeat 0 -1000px;}
#ft .cert .itrust a{width:103px;}
#ft .cert .alipay a{width:123px;background-position:0 -1050px;}
#ft .cert .tenpay a{width:87px;background-position:0 -1100px;}
#ft .cert .bcp a{width:114px;background-position:0 -1150px;}

/*#logo{padding-top:23px;padding-left:20px;}
#logo .logo{display:block;width:263px;height:57px;background:#000 url(../images/background.png?v=20110506) no-repeat 0 -160px;text-indent:-9999px;outline:none;}
*/

.cf {
zoom: 1;
}
.cf:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}

#featured { 
	width: 696px;
	height: 318px;
	border : 1px solid #cfdee3;
	background: #f2f8fa url('orbit/loading.gif') no-repeat center center; overflow: hidden; }

#featured>img,  
#featured>div,
#featured>a { width: 696px;
	height: 318px;}



#featured .content { background:#f2f8fa url('orbit/orbit-bg.jpg');}
#featured .content h1 {
	font-size: 40px; 
	text-transform: uppercase; 
	font-weight: bold; 
	text-align: center;
	margin-top: 120px;
	color: #696969;
	line-height: 50px;  }
#featured .content h3 {
	text-align: center; 
	font-size: 22px; 
	color: #696969; }
#featured .content p {
	text-align: center; 
	font-size: 14px; 
	color: #696969; }	