{% extends "member/base_2col.html" %}
{% load i18n %}

{% block title %}为 {{ user }} 更改密码{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block js.custom %}
<script>
	$(function() {
		$("#id_old_password").focus();
		$("input[type='password']").addClass("text");
	});
</script>
{% endblock %}

{% block userprofile_navigation %}
{% include "member/menu.html" %}
{% endblock %}

{% block userprofile_content %}
	<form class="yform" action="" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>为 {{ user }} 更改密码</legend>
		<label for="id_old_password">旧密码</label>
		<p>{{ form.old_password }}
			{% if form.old_password.errors %}
				<span class="quiet red"><br />* {{ form.old_password.errors|join:"; " }}</span>
			{% endif %}
		</p>
		<label for="id_new_password1">新密码</label>
		<p>{{ form.new_password1 }}
			{% if form.new_password1.errors %}
				<span class="quiet red"><br />* {{ form.new_password1.errors|join:"; " }}</span>
			{% endif %}
		</p>
		<label for="id_new_password2">确认密码</label>
		<p>{{ form.new_password2 }}
			{% if form.new_password2.errors %}
				<span class="quiet red"><br />* {{ form.new_password2.errors|join:"; " }}</span>
			{% endif %}
		</p>
		{% if form.non_field_errors %}
			<ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
		{% endif %}
	</fieldset>
	<div class="type-button"><input type="submit" value="更改" id="submit" name="submit"/></div>
	</form>
{% endblock %}

{% block userprofile_content_related %}
	<div class="box">
		<h3>更改密码</h3>
		<p>密码更改实用功能页面.请输入您的新密码2次,以便我们能够保证您输入正确.</p>
	</div>
{% endblock %}
