{% extends 'base_2col.html' %}{% load i18n themes%}
{% block title %}Guestbook{% endblock %}


{% block css.custom %}
<link rel="stylesheet" href="{% theme_media_url %}css/guestbook.css?v=20110728" media="screen"/>
{% endblock css.custom %}


{% block sidebar %}
				{% include "guestbook/sidebar.html" %}
{% endblock sidebar %}

{% block article_content %}

		<h1>Guestbook</h1>	      		
		<div class="leave_message">
			<div class="box-top1"><span></span></div>
		        <div class="box1">
		            <h2></h2>
            		<form action="{% url guestbook-post %}" method="POST">
            		    {% for field in form %}
            		      {% if field.is_hidden %}
            		        {{ field }}
            		      {% else %}
            		        <p
            		          {% if field.errors %} class="error"{% endif %}
            		          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
            		          {% if field.errors %}{{ field.errors }}{% endif %}
            		          {{ field.label_tag }} {{ field }}
            		        </p>
            		      {% endif %}
            		    {% endfor %}
            		    <p class="submit">
            		      <input type="submit" name="submit" class="submit-post" value="Post" />
            		      <input type="submit" name="submit" class="submit-preview" value="Preview" />
            		    </p>
            		</form>
		    	
		            <div class="clear"></div>
		        </div>
		    <div class="box-bot"><span></span></div>
		</div>


{% endblock %}