<div>
	<div class="box-top1"><span></span></div>
	<div class="box1">

	
	<h2>账目</h2>
	<ul class='level-one'>
		<li><a href="{% url cashlog_list %}">所有账目</a></li>
		<li><a href="{% url add_cashlog  %}">添加账目</a></li>
		<li><a href="">搜索账目</a></li>
		<li><a href="">分析报表</a></li>	
		
	</ul>
	<div class="clear"></div>
	</div>
	<div class="box-bot"><span></span></div>
</div>
<div class="clear"></div>

<div>
	<div class="box-top1"><span></span></div>
	<div class="box1">
	<h2>收支类型</h2>
	<ul class='level-one'>
		<li><a href="{% url txtype_list %}">收支项目管理</a></li>
		<li><a href="{% url add_txtype %}">添加收支项目</a></li>
	</ul>
	
	
	<div class="clear"></div>
	</div>
	<div class="box-bot"><span></span></div>
</div>
<div class="clear"></div>
